<h1>Balsimiq Page 2</h1>



<div class="container border border-5 border-dark">
    <div class="row">
        <div class="col border border-3 border-dark height2">
            <button type="button">Status Summary</button>
        </div>
        <div class="col border border-3 border-dark height3">
            <label for="firstboxText">Central Page </label>
        </div>
        <div class="col border border-3 border-dark height2">
            <button type="button">Filters</button>
        </div>
    </div>

    <div class="row">
        <div class="col border border-3 border-dark height2">
            <input type="text" placeholder="Search.." />
        </div>
    </div>

    <div class="row">
        <div class="col border border-3 border-dark height2">
            <label for="firstboxText">Character Viewer </label>
        </div>
    </div>

    <div class="row">
        <div class="col border border-3 border-dark height2">
            <button type="button">Initiate Voting!</button>
        </div>
    </div>
</div>