<h1>Balsimiq Page 2</h1>



<div class="container border border-5 border-dark">
    <div class="row">
        <div class="col border border-3 border-dark height2">
            <a asp-controller="Centralpage" asp-action= class="btn btn-primary">
                Status Summary
            </a>
        </div>
        <div class="col border border-3 border-dark height3">
            <label for="firstboxText">Central Page </label>
        </div>
        <div class="col border border-3 border-dark height2">
            <a asp-controller="Centralpage" asp-action= class="btn btn-primary">
                Filters
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col border border-3 border-dark height2">
            <input type="text" placeholder="Search.." />
        </div>
    </div>

    <div class="row">
        <div class="col border border-3 border-dark height2">
            <label for="firstboxText">Character Viewer </label>
        </div>
    </div>

    <div class="row">
        <div class="col border border-3 border-dark height2 center-this-button">
            <a asp-controller="Centralpage" asp-action= class="btn btn-success">
                Initiate Voting
            </a>
        </div>
    </div>
</div>