@model CharacterSorterSite.ViewModels.FranchiseViewModel

<h1>Character Sorter </h1>

<div class="container border border-5 border-dark">
    <div class="row">
        <div class="col height1"></div>
    </div>

    <div class="row">
        <div class="col height2 border border-3 border-dark text-center ">
            <div for="firstboxText" class="fs-4">
                Welcome to the Character sorter, where you will be putting
                characters from different game franchises, anime, or manga to
                comfortably sort who is really your favourites
            </div>
        </div>
    </div>
    <form id="franchiseForm" asp-controller="Voting" asp-action="Index" method="post">
        <div class="row">
            <div id="proceedToVoting" class="col border border-3 border-dark center-this-button">
                <button id="proceedButton" type="submit" class="btn btn-warning">
                    Proceed
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col height2 border border-3 border-dark text-center">
                <label for="firstboxText">Choose your filters below </label>
            </div>
        </div>

        <div class="row row-cols-3">
            <div class="col">
                <div class="form-check-input-active-filter">
                    <input asp-for="NarutoFranchiseID"  class="form-check-input franchise-checkbox" value="1" checked type="checkbox">
                    <label asp-for="NarutoFranchiseID" class="form-check-label fs-5"></label>
                </div>
            </div>

            <div class="col">
                <div class="form-check-input-active-filter">
                    <input asp-for="ClannadFranchiseID" class="form-check-input franchise-checkbox" value="2"  type="checkbox">
                    <label asp-for="ClannadFranchiseID" class="form-check-label fs-5"></label>
                </div>
            </div>

            <div class="col">
                <div class="form-check-input-active-filter">
                    <input asp-for="SteinsGateFranchiseID" class="form-check-input franchise-checkbox" value="3"  type="checkbox">
                    <label asp-for="SteinsGateFranchiseID" class="form-check-label fs-5"></label>
                </div>
            </div>

            <div class="col">
                <div class="form-check-input-active-filter">
                    <input asp-for="UminekoFranchiseID" class="form-check-input franchise-checkbox" value="4"  type="checkbox">
                    <label asp-for="UminekoFranchiseID" class="form-check-label fs-5"></label>
                </div>
            </div>

            <div class="col">
                <div class="form-check-input-active-filter">
                    <input asp-for="GurrenLagannFranchiseID" class="form-check-input franchise-checkbox" value="5"  type="checkbox">
                    <label asp-for="GurrenLagannFranchiseID" class="form-check-label fs-5"></label>
                </div>
            </div>

            <div class="col">
                <div class="form-check-input-active-filter">
                    <input asp-for="YuukiYuunaFranchiseID" class="form-check-input franchise-checkbox" value="6"  type="checkbox">
                    <label asp-for="YuukiYuunaFranchiseID" class="form-check-label fs-5"></label>
                </div>
            </div>

        </div>

      

      

    </form>


    <div class="row justify-content-between">
        <div class="col-auto">
            <button id="SelectAllButton" type="button" class="btn btn-primary">Select All</button>
        </div>
        <div class="col-auto">
            <button id="DeselectAllButton" type="button" class="btn btn-danger">Deselect All</button>
        </div>
    </div>


</div>

